# ---------------- Core UI ----------------
streamlit==1.32.2

# ---------------- PDF & Image Processing ----------------
pdfplumber==0.10.3
PyMuPDF==1.23.9
pytesseract==0.3.10
Pillow==10.2.0

# ---------------- Data Handling ----------------
pandas==2.2.1
numpy==1.26.4

# ---------------- LangGraph & LLM ----------------
langgraph==0.0.48
openai==1.14.3
python-dotenv==1.0.1

# ---------------- llm ----------------
ollama==1.0.7